<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

@if (reportingTaskState$ | async; as reportingTaskState) {
    @if (isInitialLoading(reportingTaskState)) {
        <div>
            <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
        </div>
    } @else {
        @if (currentUser$ | async; as currentUser) {
            <div class="flex flex-col h-full gap-y-2">
                @if (currentUser.controllerPermissions.canWrite) {
                    <div class="flex justify-end">
                        <button mat-icon-button color="primary" (click)="openNewReportingTaskDialog()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                }
                <div class="flex-1">
                    <reporting-task-table
                        [selectedReportingTaskId]="selectedReportingTaskId$ | async"
                        [reportingTasks]="reportingTaskState.reportingTasks"
                        [currentUser]="currentUser"
                        [flowConfiguration]="(flowConfiguration$ | async)!"
                        (configureReportingTask)="configureReportingTask($event)"
                        (openAdvancedUi)="openAdvancedUi($event)"
                        (manageAccessPolicies)="navigateToManageAccessPolicies($event)"
                        (viewStateReportingTask)="viewStateReportingTask($event)"
                        (selectReportingTask)="selectReportingTask($event)"
                        (viewReportingTaskDocumentation)="viewReportingTaskDocumentation($event)"
                        (deleteReportingTask)="deleteReportingTask($event)"
                        (stopReportingTask)="stopReportingTask($event)"
                        (changeReportingTaskVersion)="changeReportingTaskVersion($event)"
                        (startReportingTask)="startReportingTask($event)"></reporting-task-table>
                </div>
                <div class="flex justify-between">
                    <div class="refresh-container flex items-center gap-x-2">
                        <button mat-icon-button color="primary" (click)="refreshReportingTaskListing()">
                            <i class="fa fa-refresh" [class.fa-spin]="reportingTaskState.status === 'loading'"></i>
                        </button>
                        <div>Last updated:</div>
                        <div class="accent-color font-medium">
                            {{ reportingTaskState.loadedTimestamp }}
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
